.stars_div {
  margin-bottom: 10px !important;
  margin-top: 10px;
  cursor: pointer;
}

.starOn, .starOff, .starHalf {
  font-size: 14pt;
  background-color: red;
  color:white;
  margin-right: 2px;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
}

.starHalf {
  background-color: #DD9999;
}

.starOff {
  background-color: #AAAAAA;
}
